@import "tailwindcss";

@theme {
  --color-brand-offwhite: #fdfdfc;
  --color-brand-lightgray: #f3f4f6;
  --color-brand-gray: #9ca3af;
  --color-brand-darkgray: #4b5563;
  --color-brand-charcoal: #1f2937;
  --color-brand-black: #111827;
}

:root {
  --background: var(--color-brand-offwhite);
  --foreground: var(--color-brand-charcoal);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-brand-charcoal);
    --foreground: var(--color-brand-offwhite);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
